### Pair Programming Estadística I

In [2]:
# Importamos las librerías:

import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_csv = pd.read_csv("01-imdb_top_1000.csv" )
df_csv.head(2)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [4]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [5]:
df_csv.shape

(1000, 16)

In [6]:
df_csv.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [7]:
votos = df_csv['No_of_Votes']
votos.unique()

array([2343110, 1620367, 2303232, 1129952,  689845, 1642758, 1826188,
       1213505, 2067042, 1854740, 1661481, 1809221,  688390, 1485555,
       1676426, 1020727, 1159315,  918088,   55291,  552778,   54995,
       1512360,  699256,  651376, 1235804, 1147794,  623629, 1445096,
       1270197, 1231473,   42004,  315744,  405801,  939252,  717585,
        760360, 1190259, 1189773,  729603, 1341460, 1034705,  991208,
       1035236,  942045,  995506,  230763,  235231, 1058081,  302844,
        604211,  522093,  217881,  167839,   62635,   34112,   28401,
        194838,  156479,  375110,  809955,  834477,  384171, 1357682,
       1516346,  344445,  168895,  999790,  358685,  515451, 1125712,
        343171,  311365,  884112,  898237,  606398,  787806,   30273,
         34357,  450474,  108862,  178092,  444074,  201632,  203150,
        425844,   27793,   71875,   30722,  281623,  220002,  150023,
         33935,   78925, 1267869,  911664,  703810,  782001,  766870,
       1069738,  861606,   65341,  887429,  959181,  918562,  675146,
         59056,  652719,  369007,  740911,  950470,  231855,  724636,
        241513,  757904,  603517,  232772,  268085,  164363,  299198,
        364368,  218957,   68463,  146427,  143525,  403351,  143434,
        159992,  113314,   33893,   43444,   36680,  377884,  432610,
         31142,   75348,  104761,   70367,   60701,   40382,   61137,
         82365,   42341,   33237,  193217,  435950, 1129894,  935507,
       1187498,   74129,  517359,  618623,  757032, 1032749,  111937,
         33354, 1308302,   83005,  331308,  333915,  848920,   57057,
        535216,  531967,   64118,  577113,  466276,   49300,  375935,
        692366,   26402,  291180,  793164,  112505,  321860,  116945,
         26875,   43885,   51284,  500875,  224730,  293811,  111244,
         69458,  243943,   96381,  164939,   28810,  158335,   53153,
        152572,  120539,  114304,   29915,  101053,   41985,   63134,
         39216,   47708,  141516,  113649,   50700,   50445,  647884,
        371538,  177059,  159171,   46547,  163061,   51739,  707630,
        859695,   38803,  435928,  616228,   75721,  640533,  432811,
        291289,  420316,   51679,   57806,   67927,  601149,  882316,
         73891,  720450,  764493,   48582,  253575,  164462,  666773,
        572921,  856916,   43137,  635975,  334320,   37820,  236311,
         73992,  139558,   66803, 1000639,  949565,  832846,  223741,
        815505,   38847,  105036,  911573,   59020,  939631,   50862,
        732620,  124383,  634716,  617444,   55220,  150345,   63516,
        272291,   90729,   63122,  867615,  156842,   25088,   29662,
        425457,  363401,  381222,   91188,  150924,  371271,   76081,
         31595,   57784,  693827,  220078,  367250,  311361,  518546,
        144911,  149843,   40081,  294230,   42285,   30206,   81021,
         45434,  161984,  103191,   46947,   53089,   29682,   50058,
         33044,   68827,   31728,   26697,   27254,  105291,  219466,
         34797,   42940,   46678,  203463,  142107,   54588,   31568,
         29807,  158731,   30935,   28450,  123942,  107017,  290074,
         33829,   94016,   47676,   30205,   46865,   81156,   57428,
         27978,   37556,   52897,   72245,   52848,  505918,  213970,
        760094,  434143,  102972,   38746,  141923,   31886,   51069,
         81770,  114316,  685201, 1043455,  461823,  540772,  450349,
        705589,  462252,   79200,  639603,  428521,  902669,   45803,
         28749,  211427,   98575,   31838,  798882,  699673,   98097,
       1260806,   88656,  441614,  448930,  499439,  604694,   50610,
        738512,  103284,   56960,  641645,  582239,  683900,   42399,
         77520,   77554,  176151,   63460,  117857, 1015122,  415218,
        657047,   45403,  137963,   33592,  740086,  289742,  102285,
         82002,   58192,   78341,   36419,  172083,   27721,   86838,
         37564,  578443,  129231,  300208,  577991,   28825,  263918,
        373845,  142110,  417178,  240266,   89429,  473064,  164918,
        393899,   64722,   31163,  150140,  799795,  217664,   32195,
         65625,  251823,  543388,  235652,  143359,  121627,  362393,
         44748,   42456,   39491,   27067,  201888,  193674,  165167,
        253676,   68926,  205425,   69903,  198219,  108844,   28057,
         75067,   66621,   56305,   59847,   98431,   45062,   28137,
         81702,   81980,   58314,   61503,   51046,  127256,   99182,
         26784,   34485,  129783,   32784,   35601,   42725,   57259,
         65101,  148928,   85559,  371379,   26725,   26642,   57318,
         53054,  454203,  111478,   62754,  246644,  212651,   53818,
        139114,  111483,  189400,   85109,  587775,  466134,  297918,
        594181,  860823,  141457,  659763,   41995,  230624,  600004,
         93090,  324720,   93560,  335152,  205609,  638202,  289415,
         47720,  335533,   56625,  577336,  390334,  174125,  154011,
        107290,  580708,  199696,   31476,   57430,  939644,  512249,
         51325,  419420,  552493,  173999,  104691,   44618,   42897,
        508771,   49721,  465113,  252586,  322031,  527512,  239473,
         51943,   31590,  206918,   89836,   34529,  201000,  447368,
         68076,   54670,  281842,   67176,  187567,  128812,  132947,
        183182,  131436,   28223,  111512,  103031,   37183,   39897,
         38737,   52397,   70826,   93741,   77401,  116557,   29003,
         67804,   68689,   71122,  124339,   26542,   28421,   63560,
         80316,   40313,   97222,  123341,   52573,   41625,   92306,
         78796,   33549,   63550,   53667,   47175,   30580,   78991,
         42117,   88794,  237392,   25344,   27187,   51240,  555092,
         57168,  200876,   61594,   27175,  118035,   40416,  246963,
         35539,  556608,  663649,  517059,  143250,   50778,   51841,
         45002,   81125,   50523,   39710,  410983,  303032,   33618,
         73690,  203177,  108399,  318789,  305611,  362942,   35713,
        111252,  423010,  421244,   62848,  179264,   52758,   58468,
        601408,   68715,  208994,   89896,   33931,  340584,  564791,
        190748,  110656,  757377,   30827,  251370,  571571,  392449,
       1118998,  216421,  291018,  439856,  463466,  589160,   49050,
         45717,  258924,   51980,   31658,  283310,  234207,   35682,
        520284,   96703,   42673,   50622,   26518,  129022,   60684,
        198089,  253228,   89058,  524235,  227143,  159886,   82855,
        613941, 1046089,   27712,  280845,  345096,   62428,  164937,
        215034,  126871,   78963,   66065,   34635,  267684,  128171,
         43690,   46700,   55362,   42376,  126082,  184740,  125276,
        124193,  122779,   45624,  481918,   88214,  371387,  148359,
        321382,   47834,  244430,   78321,  357026,   51585,  355413,
         56235,   88511,  372490,  133351,   52852,   65659,   44917,
         98611,   25229,   37445,   66009,   48334,  178731,  101124,
         27733,   39642,  102415,   86525,  158029,   52141,   37605,
         27007,   73251,   28167,   36995,   31053,   59556,   43621,
         47400,   55163,   43542,   55581,   25312,  140375,   25198,
        478586,  205444,  492851,  291257,   47444,  157498,   32798,
        404182,  590440,  344312,  123210,  580291,  138741,   32628,
         39379,  736182,   39501,  112298,  380195,   56720,   77071,
        388089,  323982,  769145,  463188,   73964,  624982,  645512,
        717559,  630614,  661871,  572581,  472242,  479120,  125317,
        103330,   71379,  239203,   81446,   60368,   28630,  115576,
        474141,   32001,  175355,  466080,  299524,   28003,   61609,
        405922,   72643,  323103,  288797,  419483,  127250,  434841,
        358432,  138356,  415074,  548619,  329592,  197761,  400049,
         25938,  137981,   40403,  142863,  178565,  364254,  246840,
         90842,  126770,   31957,  516372,   29210,  286742,   29999,
        192112,  241575,   66408,  390247,  169229,   64082,  312542,
        275755,  434125,   37424,  279318,   51350,  189716,   35991,
         32236,   26429,   33600,  211450,   42275,  224169,   50298,
         85819,  150409,   77798,   95826,  235388,   66941,  113240,
        125822,  182009,   33982,   40396,   94326,  115677,  102031,
        181285,   47102,   59635,   39881,   36096,  112704,  226541,
         47099,  214882,   27014,  233106,   39889,   36037,   26729,
        125993,  109941,   96561,   98740,  110075,  143292,   51913,
         31572,   67183,   40274,   31222,   48883,   35999,  174119,
        171739,   26457,   31354,   87719,   27620,   44839,   83363,
         26464,   59415,   34677,   76315,   71481,   27991,   88662,
         30683,   60408,  140840,  551309,   29765,   95181,   46739,
         99643,   66346,   52903,   35785,  569974,  439406,   58371,
        287659,  250057,  272784,  371291,  247666,   49397,  204175,
         94212,  411599,   57549,  190531,  228132,   80939,  334312,
        311822,   38491,  500851,  315426,  524081,   63882,  369529,
        138959,  520041,  102742,  583158,  293266,   41544,  286770,
        227760,  255036,   31779,  339757,  250590,   82781,   72863,
        354728,   49728,  474827,  732876,  206294,  500799,  294140,
        379020,   83158,   65939,   67360,   70925,   67370,  224545,
         62659,  198677,  169708,  451479,  376853,  169091,  266842,
        115827,  658185,  337651,  240714,  243729,  508417,   91557,
        490062,  188317,  172710,  256906,  259753,   65058,  187927,
        186734,  131101,  102598,  364420,   90442,   73172,  269197,
         64390,  171640,  165465,  107325,   27071,   80487,  488817,
        359809,  195663,  237696,  152871,  124773,  236894,   87745,
         27650,  166588,   93878,   32802,  121731,   33656,   73662,
        184966,   26337,   30144,   45338,  166409,   56513,   40351,
        166544,   34075,   43374,   26471,   51853])

Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica.

En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! 

Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. 

De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.

### Objetivos

- Buscar un conjunto de datos a analizar.
- Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas, ya que también se analizarán.

Extraer los siguentes estadísticos del conjunto de datos para varias de las variables disponibles:

- Media

In [8]:
media = np.mean(votos)
print (f'La media de los votos es {media}.')

La media de los votos es 273692.911.

· Desviación con respecto de la media

In [9]:
media_votos = np.mean(votos)

# Calculamos la diferencia respecto a la media para cada elemento de la matriz:

desviacion_media = np.abs(media_votos-media)
print (f'La desviacion de la media es {desviacion_media}')

La desviacion de la media es 0.0

Es 0 porque lo estamos haciendo sobre la misma columna.

· Varianza

In [10]:
varianza = np.var(df_csv, 0)
print(f'La varianza por columna es {varianza}.')

La varianza por columna es IMDB_Rating    7.581951e-02
Meta_score     1.529861e+02
No_of_Votes    1.070657e+11
dtype: float64.

/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3700: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

· Desviación típica

In [11]:
print(f' La desviación tipica para todos los datos es {np.std(df_csv)}.') 
print(f' La desciación tipica para cada columna es {np.std(df_csv, 0)}.')

 La desviación tipica para todos los datos es IMDB_Rating         0.275353
Meta_score         12.368757
No_of_Votes    327208.976640
dtype: float64.
 La desciación tipica para cada columna es IMDB_Rating         0.275353
Meta_score         12.368757
No_of_Votes    327208.976640
dtype: float64.

/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3558: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

· Moda

In [12]:
moda, frecuencia = stats.mode(df_csv)
print (f'La moda y la frecuencia son {moda, frecuencia}.')

La moda y la frecuencia son (array([['https://m.media-amazon.com/images/M/MV5BZTM2NWI2OGYtYWNhMi00ZTlmLTg2ZTAtMmI5NWRjODA5YTE1XkEyXkFqcGdeQXVyODE2OTYwNTg@._V1_UX67_CR0,0,67,98_AL_.jpg',
        'Drishyam', '2014', 'U', '100 min', 'Drama', 7.7,
        "Two Irish Catholic brothers become vigilantes and wipe out Boston's criminal underworld in the name of God.",
        76.0, 'Alfred Hitchcock', 'Tom Hanks', 'Emma Watson',
        'Rupert Grint', 'Michael Caine', 65341, '4,360,000']],
      dtype=object), array([[  1,   2,  32, 234,  23,  85, 157,   1,  32,  14,  12,   7,   5,
          4,   2,   5]])).

In [13]:
# como esto no se entiende vamos a calcular la moda  de una columna 

moda, frecuencia = stats.mode(votos)
print (f'La moda y la frecuencia para el numero de votos son {moda, frecuencia}.')

La moda y la frecuencia para el numero de votos son (array([65341]), array([2])).

· Mediana

In [14]:
# Mediana, DA ERROR, no se puede calcular con str asique creamos un df solo con el numero de votos para poderla calcular.
# print(f' La mediana para todos los datos es {np.median(df_csv)}') 
# print(f' La mediana para cada columna son {np.median(df_csv, 0)}') #lo mismo que el anterior

In [15]:
mediana = np.median(votos)
print(f' La mediana para la columna numero de votos es {mediana}')

 La mediana para la columna numero de votos es 138548.5

· Media ponderada

In [16]:
w = np.ones (len(votos), dtype = np.complex64)# le damos el mismo peso a todos los datos
# Calculamos la media ponderada usando el método average() de Numpy
avg = np.average(votos, weights= w)
print(f' La media ponderada para la columna numero de votos es {avg}')

 La media ponderada para la columna numero de votos es (273692.911+0j)

· Robustez

In [19]:
# Coeficiente de variación
# print(f'La media para todos los datos {np.mean(df_csv)}') # media para todos los datos
desviacion = np.std(df_csv)
coeficiente = np.std(df_csv) / np.abs(np.mean(df_csv))
print(f'La desviación tipica para todos los datos {desviacion}')  # desviación típica para todos los datos
print(f'El coeficiente de variación es  {coeficiente}') # coeficiente de variación

La desviación tipica para todos los datos IMDB_Rating         0.275353
Meta_score         12.368757
No_of_Votes    327208.976640
dtype: float64
El coeficiente de variación es  IMDB_Rating    0.034639
Meta_score     0.158632
No_of_Votes    1.195533
dtype: float64

/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3558: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3417: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3417: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

· Resumen

In [20]:
print (f'La media de los votos es {media}')
print('---')
print (f'La desviacion de la media es {desviacion_media}')
print("---")
print(f'La varianza por columna es {varianza}')
print('---')
print(f' La desviación tipica para todos los datos es {np.std(df_csv)}') 
print('---')
print(f' La desciación tipica para cada columna es {np.std(df_csv)[0]}') 
print('---')
print (f'La moda y la frecuencia son {moda, frecuencia}')
print("---")
print (f'La moda y la frecuencia para el numero de votos son {moda, frecuencia}')
print('---')
print(f' La mediana para la columna numero de votos es {mediana}')
print('---')
print(f' La media ponderada para la columna numero de votos es {avg}')
print('---')
print(f'La desviación tipica para todos los datos {desviacion}') 
print('---')
print(f'El coeficiente de variación es  {coeficiente}')

La media de los votos es 273692.911
---
La desviacion de la media es 0.0
---
La varianza por columna es IMDB_Rating    7.581951e-02
Meta_score     1.529861e+02
No_of_Votes    1.070657e+11
dtype: float64
---
 La desviación tipica para todos los datos es IMDB_Rating         0.275353
Meta_score         12.368757
No_of_Votes    327208.976640
dtype: float64
---
 La desciación tipica para cada columna es 0.27535342743463326
---
La moda y la frecuencia son (array([65341]), array([2]))
---
La moda y la frecuencia para el numero de votos son (array([65341]), array([2]))
---
 La mediana para la columna numero de votos es 138548.5
---
 La media ponderada para la columna numero de votos es (273692.911+0j)
---
La desviación tipica para todos los datos IMDB_Rating         0.275353
Meta_score         12.368757
No_of_Votes    327208.976640
dtype: float64
---
El coeficiente de variación es  IMDB_Rating    0.034639
Meta_score     0.158632
No_of_Votes    1.195533
dtype: float64

/home/analab/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3558: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

### Interpretación de los resultados.

Son unos datos de dificil interpretación, podemos decir, poco sobre lo hayado en los resultados, la media, la moda sobre unos votos, es ambiguo, los votos si son datos correctos, que junto por ejemplo con alguna columna sobre la edad de los participantes o el genero, podria habernos dado algo mas de juego a la hora de extraer mas conclusiones, sobre los resultados obtenidos.