### Pair Programming Pandas IV

In [1]:
# HLo primero, importamos las librerías:

import pandas as pd
import numpy as np

1. Cargad el csv que guardasteis ayer.

In [2]:
df_tiburones = pd.read_csv("datos/03-attacks_new1.csv")
df_tiburones.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

Antes de seguir con las preguntas, este DataFrame está terriblemente sucio. En las próximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.

Para ello vamos a utilizar el método .dropna() de pandas. Tendréis que ejecutar la siguiente línea de código para eliminar los nulos del DataFrame y poder seguir haciendo el resto de los ejercicios.

In [3]:
df_tiburones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Case Number  6113 non-null   object
 1   Unnamed: 0   6114 non-null   int64
 2   Year         6114 non-null   float64
 3   Type         6110 non-null   object
 4   Country      6074 non-null   object
 5   Area         5706 non-null   object
 6   Location     5626 non-null   object
 7   Activity     5603 non-null   object
 8   Name         5914 non-null   object
 9   Sex          5564 non-null   object
 10  Age          3448 non-null   object
 11  Time         2934 non-null   object
 12  Species      3409 non-null   object
 13  HREF         6114 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 668.8+ KB

In [4]:
df_total = df_tiburones.shape
df_total

(6114, 14)

- ¿Cuántas filas se han eliminado con esta línea de código?

In [5]:
df_tiburones.dropna(inplace = True)
df_tiburones

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,10,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...
13,2018.05.13.a,13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5528,1901.07.30,5545,1901.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Windmill Beach,Swimming,"John Hendrick Adrian Chandler, a prisoner of war",M,29,14h15,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5631,1894.11.28,5648,1894.0,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Bathing,Horace Hewison,M,19,Morning,10' to 12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5667,1892.03.02,5684,1892.0,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5797,1880.11.25,5814,1880.0,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...
5905,1868.05.13,5922,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...

In [6]:
df_tiburones.shape

(1502, 14)

In [7]:
print("Se han borrado", df_total[0]-df_tiburones.shape[0], "filas en la eliminación")

Se han borrado 4612 filas en la eliminación

2. ¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [8]:
df_ataque_usa = df_tiburones[df_tiburones["Country"] == "USA"]
df_ataque_usa.head(3)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...
35,2018.03.31,35,2018.0,Unprovoked,USA,Hawaii,Kukio Beach,Stand-Up Paddleboarding,male,M,25,09h30,"Tiger shark, 12'",http://sharkattackfile.net/spreadsheets/pdf_di...

In [9]:
df_ataque_usa.shape

(719, 14)

In [10]:
print(f'En USA se han producido {(df_ataque_usa.shape[0])} ataques')

En USA se han producido 719 ataques

3. ¿Y en España?

In [50]:
df_spain = df_tiburones[df_tiburones["Country"] == "SPAIN"]
df_spain.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
233,2016.07.29,234,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,11h30,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [12]:
df_spain.shape

(5, 14)

In [13]:
print(f'En España se han producido {(df_spain.shape[0])} ataques')

En España se han producido 5 ataques

- ¿En qué regiones se han producido los ataques (columna location)?

In [14]:
df_spain_location = df_spain["Location"].unique()
df_spain_location

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, Gáldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

- ¿Cuántos ataques se han producido en cada área (columna area)?

In [15]:
df_spain_ataques = df_spain["Area"].value_counts()
df_spain_ataques

Castellón              1
Alicante Province      1
Alicante               1
Grand Canary Island    1
Costa Blanca           1
Name: Area, dtype: int64

- Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos.

    📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

In [49]:
df_aus_usa = df_tiburones[(df_tiburones["Country"] == "USA") | (df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
8,2018.05.26.b,8,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [48]:
df_aus_usa_isin = df_tiburones[(df_tiburones["Country"] == "USA").isin(df_tiburones["Country"] == "AUSTRALIA")]
df_aus_usa_isin.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

- ¿Cuántos ataques se han producido en cada país?

In [18]:
df_usa_count = df_aus_usa["Country"].value_counts()
df_usa_count

USA          719
AUSTRALIA    324
Name: Country, dtype: int64

- ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [19]:
df_aus_unique = df_aus_usa["Country"].unique()
df_aus_unique

array(['USA', 'AUSTRALIA'], dtype=object)

In [20]:
df_aus_paddling = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Activity"] == "Paddling")]
df_aus_paddling.head()

Empty DataFrame
Columns: [Case Number, Unnamed: 0, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Time, Species , HREF]
Index: []

In [41]:
df_aus_paddling.value_counts()

Series([], dtype: int64)

A la vista de los resultado vemos que no ha habido casos

- ¿Cuántos ataques se han producido en Australia antes del 2000?

In [21]:
ataque_antes_2000 = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Year"] < 2000)]
print(f'Antes del 2000 hubo {ataque_antes_2000.shape[0]} ataques.')

Antes del 2000 hubo 151 ataques.

- ¿Y después del 2000?

In [22]:

ataque_despues_2000 = df_aus_usa[(df_aus_usa["Country"] == "AUSTRALIA") & (df_aus_usa["Year"] >= 2000)]
print(f'Despues del 2000 hubo {ataque_despues_2000.shape[0]} ataques.')

Despues del 2000 hubo 173 ataques.

In [23]:
ataque_despues_2000 = df_tiburones[(df_tiburones["Sex "] == "F")]

5. Extraed unicamente los ataques a mujeres.

In [45]:
df_ataques = df_tiburones[df_tiburones["Sex "] == "F"]
df_ataques.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
40,2018.02.23,40,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [25]:
df_tiburones.columns

Index(['Case Number', 'Unnamed: 0', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'HREF'],
      dtype='object')

6. ¿Cuántas mujeres fueron atacadas en España?

In [26]:
df_ataques_españa = df_ataques[(df_ataques["Country"] == "SPAIN") & (df_ataques["Sex "] == "F")]
df_ataques_españa

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
98,2017.08.26.b,98,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,http://sharkattackfile.net/spreadsheets/pdf_di...

7. Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006.

    Utilizad el método isin() para resolver este ejercicio.

In [46]:
df_ataques_fechas_mix = df_tiburones[df_tiburones["Year"].isin([1997, 2000, 2006])]
df_ataques_fechas_mix.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
1407,2006.12.18,1412,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1408,2006.12.11,1413,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

8. Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil.

    En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White).

    Usad el método str.contains() para resolver este ejercicio.

In [28]:
df_tiburonblanco = df_tiburones[df_tiburones["Species "].str.contains("White", "white", regex=True)]
df_tiburonblanco.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,24,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",http://sharkattackfile.net/spreadsheets/pdf_di...

9. Extraed ahora los ataques por tiburón blanco o tigre.

    Utilizad el método str.contains() para resolver este ejercicio.

In [47]:
df_tiburonblanco_tigre = df_tiburones[df_tiburones["Species "].str.contains("White|white|Tiger|tiger", regex=True)]
df_tiburonblanco_tigre.head(2)

,Case Number,Unnamed: 0,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,HREF,Siglo
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
6,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

10. Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [30]:
df_tiburones["Siglo"] = np.where(df_tiburones["Year"] <= 2000, "siglo-XX", "siglo-XXI")

In [31]:
df_tiburones["Siglo"].unique()

array(['siglo-XXI', 'siglo-XX'], dtype=object)

11. Guardad como un archivo csv nuevo.

In [32]:
df_tiburones.to_csv("datos/04-attacks.csv")