# Listas I

En la la lecci√≥n de hoy hemos aprendido una de las estructuras de datos m√°s usadas en Python, las listas.

 En el ejercicio de hoy pondremos en pr√°ctica los m√©todos aprendidos, vuestros **objetivos** ser√°n:

- Usando la funci√≥n input, cread un programa que pregunte al usuario por el **nombre** de tres amig@s.
- Almacenad los resultados del paso anterior en una lista. 
- üí°üí°**Pista** Tendr√©is que usar m√©todos de los strings que aprendimos en la lecci√≥n anterior.
- Usando la funci√≥n input, cread un programa que ahora le pregunte al usuario por las alturas de sus amig@s. 
- Y almacenar los resultados en una lista.
- Esto os devolver√° una lista de strings similar a esta:
- lista_alturas = ['1.45', ' 1.67', ' 1.57']

In [22]:
tres_amigos=input('Dime el nombre de tres amigos')# Ana Maria Alejandro
tres_amigos.split()

['Ana', 'Maria', 'Alejandro']

In [23]:
lista_alturas = input('¬øCu√°nto miden tus amigos?') # 1.45 1.67 1.57
lista_alturas = lista_alturas.split()

- Nos interesa que las alturas est√©n en tipo float para eso, ejecutad el siguiente c√≥digo. 
- No es necesario que lo entend√°is, es un concepto m√°s avanzado que aprenderemos en las siguientes lecciones.
- lista_alturas = [float(i) for i in lista_alturas]

In [24]:
lista_alturas = [float(i) for i in lista_alturas]

Ordenad las dos listas de mayor a menor.
- ¬øLo podr√©is hacer para la **lista de nombres**?
- ¬øCu√°l es la altura **m√°xima** de todos nuestros amig@os?
- ¬øY la **m√≠nima**?.

In [25]:
### con la lista nombres no podemos hacerlo por que es texto, 
# podriamos aordenarlo alfabeticamente, convirtiendolo en una lista, pero de mayor a menor no.
lista_tresamigos_ordenada= tres_amigos.split() # divide un str en una lista
lista_tresamigos_ordenada.sort() # ordenamos alfabeticamente
print (lista_tresamigos_ordenada)

['Alejandro', 'Ana', 'Maria']

In [26]:
## Lo ponemos asi, porque sort lo ordena de menor a mayor y asi sale el resultado que nos piden.
lista_alturas.sort(reverse=True)
lista_alturas

[1.67, 1.57, 1.45]

In [27]:
lista_maxima = max(lista_alturas)
lista_maxima

1.67

In [28]:
lista_minima= min (lista_alturas)
lista_minima

1.45

Dadas las siguientes listas:

- lista1 = [44, 55, 67, 44, 98, 29]
- lista2 = [34, 56, 56, 78, 67, 56]

+ Unid las dos listas de forma que consigamos el siguiente output. 
+ Almacenad los resultados en una nueva variable y llamadla lista_lista.

- lista_lista = [[44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56]]

In [29]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]
lista_lista = lista1,lista2
print ( lista_lista)

([44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56])

Unid las dos listas de forma que consigamos el siguiente output. Almacenad los resultados en una nueva variable y llamadla lista_numeros.

lista_numeros = [44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

- De la lista lista_lista, ¬øcu√°ntas veces aparece el n√∫mero 67? 
- ¬øy en la lista lista_numeros.
- Justificad por qu√© salen n√∫meros diferentes
- Usando la lista_numeros, dadle la vuelta a la lista

In [30]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]
lista_numeros = (lista1 + lista2 )
print ( lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [31]:
print  (lista_lista.count(67))

0

In [32]:
print (lista_numeros. count(67))

2

In [33]:
# no hacer variables para que salga bien.
lista_numeros.reverse()
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]