# Listas II

En el pair programming de hoy seguiremos poniendo en práctica las listas de Python. 

En la sesión de hoy tendréis que realizar las siguientes **tareas**:
- Cread una lista con 10 números aleatorios entre el 0 y el 100.

In [7]:
import random
lista = random.sample(range(1,100), 10)
lista

[82, 25, 39, 62, 30, 73, 28, 48, 57, 69]

¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.

In [8]:
len(lista)

10

Extraed el número que está en la tercera posición.Recordad que los índices en Python empiezan en 0 y que no corresponden con las "posiciones humanas"

In [9]:
lista [2]

39

Extraed el número que esta en la tercera posición utilizando los índices negativos.

In [10]:
lista[-8]

39

Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input.
 ¿En que posición esta el número que ha eligido la usuaria?

In [11]:
g= int(input('dime un numero de la lista'))
lista.index(g)

6

Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). 
Esto nos tendrá que devolver una lista de 3 elementos.

Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. 
Os debe devolver una lista con 4 números.

¿Cuáles son los numéros que están en las posiciones pares nuestra lista?
¿Y los que están en posiciones impares?

In [12]:
#valores entre la tercera y quinta posición inclusive
lista [2:5]

[39, 62, 30]

In [13]:
#exraer valores entre las posiciones seis y nueve 
lista[-5:-1]

[73, 28, 48, 57]

In [14]:
lista[1::2]

[25, 62, 73, 48, 69]

In [15]:
lista[0::2]

[82, 39, 30, 28, 57]

Dadas las siguientes listas:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

¿Qué nota ha sacado **Lupe**? 

- Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. 
- Para esto tendréis que sacar primero en que posición esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

In [16]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]

notas = [9, 8.5, 9.8, 8.9, 9.2]

In [17]:
nombres.index("Lupe")

2

In [18]:
notas[2]

9.8

- De la misma forma, ¿qué alumna a sacado la nota **más alta**? 
Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.

In [19]:
nota_maxima=max (notas)
nota_maxima

9.8

- ¿Qué alumna a sacado la nota **más baja**? 
- ¿Es esta nota mayor que 5?

In [20]:
min (notas)

8.5

In [21]:
nota_minima= min (notas)
nota_minima

8.5

In [22]:
nota_minima > 5

True

In [23]:
notas.index(8.5)

1

In [24]:
nombres[1]

'Lorena'

- Ordenad la lista de notas de **mayor a menor** y almacenalo en una nueva variable llamada notas_nuevo_orden
- Ordenad las notas de las alumnas de **mayor a menor**. Usa el método que sobreescriba la variable notas.
- Ordenad la lista de nombres de **mayor a menor**. ¿Qué es lo que ha pasado?
- Borrad la lista de notas.

In [25]:
#Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden
notas_nuevo_orden=sorted(notas, reverse=True)
print (notas_nuevo_orden)

### si lo hacemos con sort no lo sobrescribe
notas.sort(reverse=True)
print (notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]
[9.8, 9.2, 9, 8.9, 8.5]

In [26]:
notas.clear()
notas

[]

In [27]:
del notas

Dadas las siguientes listas:

- lunes = [34,56,82]
- martes = [99, 64, 24]
- miercoles = [12, 59, 71]

Unid las tres listas de forma que tengamos el siguiente output
- [34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [28]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [29]:
listas_unidas= lunes + [martes] + [miercoles]

In [30]:
print( listas_unidas)

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

- Definid de nuevo la tres listas. 
- Ahora unid las tres listas de tal forma que obtengamos el siguiente output:
- [34, 56, 82, 99, 64, 24, 12, 59, 71]

In [31]:
listas_unidas1 = lunes + martes + miercoles

In [32]:
print (listas_unidas1)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [33]:
# podriamos usar append() uniedo todas a lunes.
# lunes.append(martes)
# lunes.append(miercoles)

Definid de nuevo las tres listas.

Insertad los siguientes valores:
- En la lista lunes un 100 en la primera posición
- En la lista martes un 100 en la tercera posición
- En la lista miercoles un 100 en la última posición

In [34]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [35]:
lunes.insert(0,100)
print(lunes)

[100, 34, 56, 82]

In [36]:
martes.insert (2,100)
print(martes)

[99, 64, 100, 24]

In [37]:

miercoles. insert(len(miercoles),100)
print (miercoles)

[12, 59, 71, 100]